<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277274694166-tc3usbbudp29tl4pup64j73jbq4h56r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277274694166-tc3usbbudp29tl4pup64j73jbq4h56r9</string>
	<key>API_KEY</key>
	<string>AIzaSyBY9jtBxCSic1SuZswGYA73sJKouyEGYsY</string>
	<key>GCM_SENDER_ID</key>
	<string>277274694166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fcm.notifications.fcmNotifications</string>
	<key>PROJECT_ID</key>
	<string>fcm-notifications-a9fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-notifications-a9fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277274694166:ios:16941d2c0e2149490d9b37</string>
</dict>
</plist>